.TtgJkt {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.TtgJkt img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.TtgJkt h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}

.TtgJkt p {
    text-align: center;
    line-height: 1.6;
    color: #666666;
    font-size: 16px;
    padding: 0 10px;
}

.TtgJkt:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
    .TtgJkt {
        padding: 15px;
    }
}

@media (max-width: 840px) {
    .TtgJkt {
        padding: 10px;
    }
    .hide-mobile-menu {
        display: none; 
    }
    nav ul {
        z-index: 1; 
    }
}

@media (max-width: 600px) {
    .TtgJkt {
        width: 100%; 
        max-width: none; 
        padding: 20px; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .TtgJkt h1 {
        font-size: 22px; 
        margin-bottom: 12px; 
    }

    .TtgJkt p {
        font-size: 15px; 
        text-align: justify;
        padding: 0 10px; 
    }

    .TtgJkt img {
        border-radius: 5px; 
    }

    .TtgJkt:hover {
        transform: none;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    }
}
