.hotel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;
  }
  
  .hotel-container h1 {
    margin-bottom: 20px;
  }

  .sub-hotel-1{
    margin-bottom: 10px;
  }
  
  .hotel-card1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  .hotel-image-container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
  }
  
  .hotel-image-container img {
    width: 100%; /* Responsive width */
    max-width: 300px; /* Maximum width */
    aspect-ratio: 3 / 2; /* Aspect ratio to maintain the desired height and width proportion */
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
    border-radius: 10px; /* Optional: to maintain rounded corners */
  }
  
  
  .hotel-content-container {
    flex: 1;
    text-align: justify;
  }
  
  .hotel-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .hotel-btn:hover {
    background-color: #0056b3;
  }
  
  .hotel-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 0;
    gap: 10px;
  }
  
  .hotel-features div {
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .hotel-card {
      flex-direction: column;
      align-items: center; 
    }
    
    .hotel-image-container {
      flex-direction: row; 
      gap: 10px;
    }
  
    .hotel-image-container img {
      max-width: 45%; 
    }
  
    .hotel-features {
      grid-template-columns: 1fr;
    }
  }
  