body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.containers {
    width: 500px;
    color: #333; 
    border-radius: 10px; 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../gambar/bggame.jpg");
    background-size: cover;
    padding: 40px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
}

.containers h2 {
    text-align: center;
    font-size: 2.5rem; 
    font-weight: bold; 
    padding-bottom: 15px; 
    color: #FFF;
    margin-bottom: 30px;
    border-bottom: 2px solid #fff;
}

.containers .content {
    margin-bottom: 30px;
}

.content .word {
    font-size: 2rem; 
    font-weight: bold;
    text-align: center;
    letter-spacing: 20px; 
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff; 
}

.detail {
    padding: 0 20px; 
    margin-bottom: 30px;
    color: #FFF;
}

.detail p {
    font-size: 1.2rem; 
    margin-bottom: 15px; 
    text-align: center;
}

.detail p b {
    font-weight: bold;
}

.content input {
    width: 100%;
    height: 50px; 
    outline: none;
    font-size: 1.1rem; 
    padding: 0 15px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.content .buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    border: none;
    outline: none;
    padding: 15px 0;
    font-size: 1.1rem; 
    font-weight: bold;
    border-radius: 5px;
    width: calc(50% - 10px); 
    transition: background-color 0.3s ease; 
}

.buttons button:hover {
    background-color: #444; 
    color: #fff; 
    cursor: pointer;
}
.tombol-balik:hover {
    background-color: #444; 
    color: #fff; 
    cursor: pointer;
}

.tombol-balik{
    text-align: center;
    max-width: 150px;
    padding: 10px 30px;
    margin: auto;
    font-size: 1.1rem; 
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    color: black;
    cursor: pointer;
}
.containers:hover{
    box-shadow: 0 8px 16px rgba(7, 35, 112, 0.8); 
}
