.square {
    background:#FFF;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    margin: 2rem auto; 
    padding: 20px; 
    min-height: 30vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 5px;
}

.square .text-1{
    margin-top: 10px;
    padding-left: 20px;
    width: 100%;
}

.square .text-1 h3{
    text-transform: uppercase;
    margin-top: 0;
    color: red;
    margin-bottom: 20px;
}

.square .text-1 h4{
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.square link{
    margin-top: auto;
}

.square .link button{
    margin-top: 10px;
    cursor: pointer;
    background: black;
    color: white;
    border: none; 
    padding: 10px 20px; 
}

.link button:hover {
  background: #333; 
}

.link button a {
  color: white;
  text-decoration: none;
}

.load-more{
    text-align: center;
    max-width: 150px;
    padding: 10px 30px;
    margin: auto;
    margin-bottom: 50px;
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    color: black;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .square {
      width: 84%;
    }
}

@media only screen and (max-width: 1024px) {
    .square {
      margin: 2rem auto; 
      flex-direction: column; 
      text-align: center; 
    }

    .square .text-1 {
        width: 100%; 
    }
}
